@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes light-effect {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .animate-light-effect {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    background-size: 400% 100%;
    animation: light-effect 2s linear infinite;
  }
  